.sidbar-contaner {
    text-wrap: nowrap;
    width: 220px !important;
    background: linear-gradient(to right, #269afc, #40abff);
}

input[type="radio"]:checked {
    background: #0dcaf0;
    border: #0dcaf0;
}